*{
    padding: 0;
    margin: 0;
}

.container{
    background: linear-gradient(to bottom, #01080f, #66ccff);
    border-bottom: 7px solid grey;
    overflow-x: hidden;
}

.lowerNav{
    display: flex;
}
.lowerNav div{
    flex-basis: 50%;
    gap: 10px;
    padding: 20px;
}
.leftLowerNav div h1{
    font-size: 55px;
    color: rgb(250, 250, 250);
}
.leftLowerNav div h1 span{
     color: rgb(221, 32, 32);
}
.heroContent{
    font-size: 22px;
    color: rgb(250, 246, 246);
    font-weight: 500;
}
.buttonsDiv{
    display: flex;
    gap: 30px;
}
.buttonsDiv button{
    padding: 13px 30px;
    font-size: 20px;
    font-weight: 600;
    background: grey;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: rgb(250, 246, 246);
}
.rightLowerNav img{
    width: 600px;
}

/* Media queries */
@media (max-width: 1280px){
    .leftLowerNav div h1{
        font-size: 50px;
    }
    .heroContent{
        font-size: 21px;
    }
    .rightLowerNav img{
        width: 580px;
    }
    .lowerNav{
        margin-top: -30px;
    }
}
@media (max-width: 1200px){
    .leftLowerNav div h1{
        font-size: 45px;
    }
    .heroContent{
        font-size: 19px;
    }
    .rightLowerNav img{
        width: 500px;
    }
    .lowerNav{
        margin-top: -30px;
    }
    .buttonsDiv button{
        padding: 11px 25px;
        font-size: 18px;
    }
}
@media (max-width: 1024px){
    .leftLowerNav div h1{
        font-size: 40px;
    }
    .heroContent{
        font-size: 18px;
    }
    .rightLowerNav img{
        width: 450px;
    }
    .lowerNav{
        margin-top: -20px;
    }
    .buttonsDiv button{
        padding: 10px 20px;
        font-size: 17px;
    }
}
@media (max-width: 900px){
    .leftLowerNav div h1{
        font-size: 30px;
    }
    .heroContent{
        font-size: 17px;
    }
    .rightLowerNav img{
        width: 400px;
    }
    .lowerNav{
        margin-top: 10px;
    }
    .buttonsDiv button{
        padding: 10px 20px;
        font-size: 14px;
    }
}
@media (max-width: 800px){
    .leftLowerNav div h1{
        font-size: 28px;
    }
    .heroContent{
        font-size: 16px;
    }
    .rightLowerNav img{
        display: block;
        width: 400px;
    }
    .lowerNav{
        margin-top: 20px;
    }
    .buttonsDiv button{
        padding: 8px 12px;
        font-size: 13px;
    }
    /* .lowerNav div{
        padding: 9px;
    } */
}
@media (max-width: 768px){
    .leftLowerNav{
        padding: 20px;
    }
    .lowerNav{
        flex-direction: column;
    }

    .rightLowerNav img{
       margin-left: -50px;
        width: 600px;
    }
    .rightLowerNav{
        padding: 0;
    }
}
@media (max-width: 598px){
    .rightLowerNav img{
        width: 550px;
    }
}
@media (max-width: 500px){
    .rightLowerNav img{
        width: 450px;
    }
}