* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
     background: linear-gradient(to right, #04080c 40%, #060a0e 45%, #66ccff 55%, #66ccff 60%);     color: white;
     display: flex;
     font-family: "Roboto", sans-serif;
     border-bottom: 7px solid grey;
     padding-bottom: 10px;
}
.container p{
    font-weight: 600;
    font-size: 20px;
}
.container div{
    flex-basis: 50%;
}
.left{
    padding-left: 40px;
    z-index: 999;
    padding-right: 100px;
}
.right{
    position: relative;
    padding-right: 0;
}
.left h1{
    font-size: 55px;
}
.left h1 span{
    color: rgb(221, 32, 32);
}
.right img{
    width: 120%;
    height: 500px;
    position: absolute;
    right: -10px;
    bottom: 0;
    z-index: 1;
}