.container{
     background: 
        linear-gradient(to right, rgba(173, 216, 230, 0.5) 0%, rgba(173, 216, 230, 0.8) 40%, rgba(173, 216, 230, 0.8) 40%, rgb(155, 86, 101) 100%),
        url('../../assets/nav-background.jpg') center/cover no-repeat;
        padding: 30px;
        border-bottom: 7px solid grey;
}
.logo{
        width: 350px;
        height: 300px;
        margin: -40px 0;
}
.pricingHero h1{
        text-align: center;
        font-size: 55px;
        font-weight: 700;
        margin-top: -50px;
        margin-bottom: 30px;
}
.pricingHero h1 span{
        color: rgb(221, 32, 32);
}
.packages{
        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: center;
}
.package1{
        min-height: 500px;
        flex-basis: 28%;
        padding: 30px;
        border: 1px solid grey;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: white;
        border-radius: 10px;
}
.packageTitle1{
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 6px;
}
.package1 h1{
        font-size: 50px;
}
.package1 ul{
        font-size: 33px;
        font-weight: 700;
        padding-left: 10px;
}
.package2{
        min-height: 500px;
        flex-basis: 28%;
        padding: 30px;
        border: 1px solid grey;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: #000;
        border-radius: 10px;
        color: white;
}
.packageTitle2{
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 6px;
}
.package2 h1{
        font-size: 50px;
}
.package2 ul{
        font-size: 33px;
        font-weight: 700;
        padding-left: 10px;
}
.package3{
        min-height: 500px;
        flex-basis: 28%;
        padding: 30px;
        border: 1px solid grey;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: rgb(221, 32, 32);
        border-radius: 10px;
        color: white;
}
.packageTitle3{
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 6px;
}
.package3 h1{
        font-size: 50px;
}
.package3 ul{
        font-size: 33px;
        font-weight: 700;
        padding-left: 10px;
}

@media (max-width: 1280px){
        .pricingHero h1{
                font-size: 50px;
        }
        .packages div p{
                font-size: 21px;
                letter-spacing: 4px;
        }
        .packages div h1{
                font-size: 45px;
        }
        .packages ul{
                font-size: 30px;
        }
}
@media (max-width: 1200px){
        .pricingHero h1{
                font-size: 45px;
        }
        .packages div p{
                font-size: 19px;
                letter-spacing: 3px;
        }
        .packages div h1{
                font-size: 40px;
        }
        .packages ul{
                font-size: 28px;
        }
}
@media (max-width: 1100px){
        .pricingHero h1{
                font-size: 40px;
        }
        .packages div p{
                font-size: 17px;
                letter-spacing: 3px;
        }
        .packages div h1{
                font-size: 35px;
        }
        .packages ul{
                font-size: 25px;
        }
}
@media (max-width: 1024px){
       .pricingHero h1{
                font-size: 35px;
        }
        .packages{
                padding: 15px;
                gap: 30px;
        }
        .packages div p{
                font-size: 15px;
                letter-spacing: 3px;
        }
        .packages div h1{
                font-size: 35px;
        }
        .packages ul{
                font-size: 25px;
        }
}
@media (max-width: 900px){
       .pricingHero h1{
                font-size: 30px;
        }
        .packages div{
                min-height: 400px;
                flex-basis: 20%;
                padding: 8px;
        }
        .packages{
                padding: 10px;
                gap: 20px;
        }
        .packages div p{
                font-size: 13px;
                letter-spacing: 3px;
        }
        .packages div h1{
                font-size: 28px;
        }
        .packages ul{
                font-size: 20px;
                padding:0 20px;
        }
}
@media (max-width: 768px) {

        .packages{
                flex-direction: column;
                align-items: center;
                justify-content: center;
        }
        .packages .package1, .packages .package2, .packages .package3{
                flex-basis: 95%;
                align-items: center;
                justify-content: center;
                padding: 20px;
        }
        .packages div h1{
                font-size: 40px;
        }
        .packages div ul{
                font-size: 22px;
        }
        .packages div p{
                font-size: 22px;
        }
        .pricingHero h1{
                margin: 30px;
        }
}