
html{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: sans-serif;
    scroll-behavior: smooth;
    body {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
}